{% extends "layout.html" %}

{% block title %}
    Display Charmander
{% endblock %}

{% block main %}
    {% if totalpoints >= 0 and totalpoints < 20 %}
        <img src="/static/charmander/charmander.webp" alt="charmander" height="350" width="350">
    {% elif totalpoints >= 20 and totalpoints < 40 %}
        <div class="alert alert-success" role="alert">
            Congrats! Your watcher is onto the second evolution!
        </div>
        <img src="/static/charmander/charmeleon.webp" alt="charmeleon" height="350" width="350">
    {% elif totalpoints >= 40 and totalpoints < 60 %}
        <div class="alert alert-success" role="alert">
            Congrats! Your watcher is onto the third evolution!
        </div>
        <img src="/static/charmander/charizard.webp" alt="charizard" height="350" width="350">
    {% else %}
        <div class="alert alert-success" role="alert">
            Congrats! Your watcher is onto the fourth evolution!
        </div>
        <img src="/static/charmander/megacharizard.webp" alt="megacharizard" height="350" width="350">
    {% endif %}

{% endblock %}