{% extends "layout.html" %}

{% block title %}
Welcome
{% endblock %}

{% block main %}
<h2>More than 60% of College Students Meet the Criteria for at least
    <br>
    One Mental Health Problem
</h2>
<p>There are many resources and websites that encourage productivity,
    <br>
    however, we must first prioritize wellness and
    self-love to achieve happiness and success.
<div class="mediaobject diagram-large">
    <img id="welcome" src="/static/welcome.png" class="welcomeimg">
</div>
</p>
<br>
<h2>Wellness Watcher is the website that looks after you!</h2>
<p> You input goals with a priority system, gain points
    <br>
    upon completion which allows your Wellness Watcher to evolve,
    <br>
    and the website will track your progress throughout it all!
</p>
<a href="/pet">
    <button class="btn btn-primary" type="submit">Start by Choosing your Watcher!</button>
</a>
{% endblock %}